<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>XXIII Barcode generator</title>
</head>
<body>
    <h1>XXIII Barcode generator</h1>
    <div class="container">
        <form action="/" method="post">
            <input type="text" name="text" id="text" placeholder="enter text">
            <input type="submit" value="generate barcode" />
        </form>
    </div>
</body>
</html>